body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("wallpaper.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  overflow: hidden;
  padding: 20px;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); 
}
.header* {
  float: left;
  color: black;
  text-align: center;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header a:hover {
  background-color: #ddd;
  color: black;
}
.header a:active {
  background-color: dodgerblue;
  color: white;
}
#links {
  float: right;
}
.header a {
	padding: 5px;
	border-radius: 10px;
	text-decoration: none;
	margin: 5px; 
}
#name{
	display: inline-block;
  	position: fixed;
  	top: -10px;
}
@media screen and (max-width: 600px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  #home,#about,#skills{
  	position: static;
  }
  p{
  	float: none;
  	width: 100px;
  	display: block;
  }
}
.sticky{
	position: fixed;
	width: 98%;
	top: 0;
	z-index: 1;
}
.content{
	padding: 16px;
	position: relative;
	top: 30px;
}



#home{
	padding: 30px;
	height: 130px;
}
#info{
	position: relative;
	bottom: 95px;
    left: 300px;
    border: 1px solid black;
    width: 800px;
    text-align: center;
    color: white;
}


#about{
	padding: 30px;
	height: 130px;
}
.about{
	position: relative;
	bottom: 95px;
    left: 300px;
    border: 1px solid black;
    width: 800px;
    text-align: center;
    color: white;
}


#skills{
	padding: 30px;
	height: 130px;
}
.skills{
	position: relative;
	bottom: 95px;
    left: 300px;
    border: 1px solid black;
    width: 800px;
    text-align: center;
    color: white;
}
p{
	padding: 5px
}


#portfolio *{
	display: inline-block;
	text-align: center; 
	width: 30%;
	margin: auto;
}
#memoGame *, #colorPicker *, #gameOfLive *{
	display: block;
}

#map {
    width: 60%;
    height: 300px;
    background-color: grey;
}

#contact *{
	display: inline-block;
	color: white;
}